html {
  --container: 300px;
  --padding-container: 10px;
  box-sizing: border-box;
  /* position: relative;
    overflow: hidden; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Nunito, sans-serif;
  margin: 0;
}
.container {
  max-width: calc(var(--container) +var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}
